body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.div{
   padding: 15px;
    border-radius: 8px;
    width: 260px;
    background-color:rgb(70, 112, 149) ;
}
#input{
    width: 100%;
    height: 50px;
    font-size: 30px;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgb(76, 125, 167);
    border: none;
    outline: none;
    box-shadow: inset 1px 2px 3px;
    border-radius: 10px;
}

.btn{
   display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;  
}
button {
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    background: gray;
    cursor: pointer;
    color: aliceblue;
}
button:hover {
    background: rgb(62, 60, 60);
}

.clear {
    grid-column: span 3; 
    background-color: rgb(237, 71, 71); 
}
.clear:hover{
    background-color:red;
}
#cl{
    background-color: rgb(62, 60, 60);
    color: aliceblue;
}
#cl:hover{
    background-color: gray;
}

